.modal-content {
    position:fixed;
    display:none;
    z-index:9999;
    width:50%;
    margin:0;
    padding:10px 20px;
    background:#bbb;
}

.modal-content p {
    margin:0;
    padding:0;
}

.modal-overlay {
    z-index:9998;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}

.modal-open {
    /*color:#00f;
    text-decoration:underline;*/
}

.modal-open:hover {
    cursor:pointer;
}

.modal-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0.2em;
    color:#000;
    /*text-decoration:underline;*/
}

.modal-close:hover {
    cursor:pointer;
    color:#31708f;
}

@media screen and (max-width: 480px) {
  .modal-content {
      position:fixed;
      display:none;
      z-index:9999;
      width:90%;
      margin:0;
      padding:10px 20px;
      background:#bbb;
  }
}
